:root {
    --shiki-color-text: theme("colors.tint.11");
    --shiki-token-punctuation: theme("colors.tint.11");
    --shiki-token-comment: theme("colors.neutral.9/.7");
    --shiki-token-link: theme("colors.primary.10");

    --shiki-token-constant: theme("colors.warning.10");
    --shiki-token-string: theme("colors.success.10");
    --shiki-token-string-expression: theme("colors.success.10");
    --shiki-token-keyword: theme("colors.danger.10");
    --shiki-token-parameter: theme("colors.warning.10");
    --shiki-token-function: theme("colors.primary.10");

    --shiki-token-inserted: theme("colors.success.10");
    --shiki-token-deleted: theme("colors.danger.10");
    --shiki-token-changed: theme("colors.tint.12");
}

html.dark {
    /* Override select colors to have more contrast */
    --shiki-token-comment: theme("colors.neutral.9");

    --shiki-token-constant: theme("colors.warning.11");
    --shiki-token-string: theme("colors.success.11");
    --shiki-token-string-expression: theme("colors.success.11");
    --shiki-token-keyword: theme("colors.danger.11");
    --shiki-token-parameter: theme("colors.warning.11");
    --shiki-token-function: theme("colors.primary.11");
}

.code-monochrome {
    --shiki-token-constant: theme("colors.tint.11");
    --shiki-token-string: theme("colors.tint.12");
    --shiki-token-string-expression: theme("colors.tint.12");
    --shiki-token-keyword: theme("colors.primary.10");
    --shiki-token-parameter: theme("colors.tint.9");
    --shiki-token-function: theme("colors.primary.9");
}

html.dark.code-monochrome {
    --shiki-token-constant: theme("colors.tint.11");
    --shiki-token-string: theme("colors.tint.12");
    --shiki-token-string-expression: theme("colors.tint.12");
    --shiki-token-keyword: theme("colors.primary.11");
    --shiki-token-parameter: theme("colors.tint.10");
    --shiki-token-function: theme("colors.primary.10");
}
