:root {
    --shiki-color-text: var(--color-tint-11);
    --shiki-token-constant: #0a6355;
    --shiki-token-string: #8b6d32;
    --shiki-token-comment: var(--color-teal-700 / 0.64);
    --shiki-token-keyword: var(--color-pomegranate-600);
    --shiki-token-parameter: #0a3069;
    --shiki-token-function: #8250df;
    --shiki-token-string-expression: #6a4906;
    --shiki-token-punctuation: var(--color-pomegranate-700 / 0.92);
    --shiki-token-link: var(--color-tint-12);
    --shiki-token-inserted: #22863a;
    --shiki-token-deleted: #b31d28;
    --shiki-token-changed: #8250df;
}

html.dark {
    --shiki-color-text: var(--color-tint-11);
    --shiki-token-constant: #d19a66;
    --shiki-token-string: var(--color-pomegranate-300);
    --shiki-token-comment: var(--color-teal-300 / 0.64);
    --shiki-token-keyword: var(--color-pomegranate-400);
    --shiki-token-parameter: var(--color-yellow-500);
    --shiki-token-function: #56b6c2;
    --shiki-token-string-expression: var(--color-tint-11);
    --shiki-token-punctuation: #acc6ee;
    --shiki-token-link: var(--color-pomegranate-400);
    --shiki-token-inserted: #85e89d;
    --shiki-token-deleted: #fdaeb7;
    --shiki-token-changed: #56b6c2;
}
