{% extends "page.html" %}

{% block title %}{% i18n "GLOSSARY" %}Glossary{% endi18n %} | {{ title }}{% endblock %}

{% block page_inner %}
	{% for item in glossary %}
	<section class="normal glossary" id="{{ item.id }}">
	    <h2><a href="#{{ item.id }}">{{ item.name }}</a></h2>
	    <p>{{ item.description|safe }}</p>
	    <ul class="glossary-index">
	    {% for file in item.files %}
	        <li><a href="{{ basePath }}/{{ file.path|contentLink }}"><span class="level">{{ file.level }}.</span> {{ file.title }}</a></li>
	    {% endfor %}
	    </ul>
	</section>
	{% endfor %}
{% endblock %}
