{% extends "./layout.html" %}

{% block title %}{{ __("LANGS_CHOOSE") }} | {{ title }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ staticBase }}/style.css">
{% endblock %}

{% block content %}
<div class="book-langs-index" role="navigation">
    <div class="inner">
        <h3>{{ __("LANGS_CHOOSE") }}</h3>

        <ul class="languages">
        {%  for lang in langs %}
            <li>
                <a href="{{ basePath}}/{{ lang.lang }}/index.html">{{ lang.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block javascript %}{% endblock %}
