{% extends "./layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ staticBase }}/style.css">
{% endblock %}

{% block content %}
<div class="book-langs-index">
    <div class="inner">
        <h3>{% i18n "LANGS_CHOOSE" %}Choose a language{% endi18n %}</h3>

        <ul class="languages">
        {%  for lang in langs %}
            <li>
                <a href="{{ basePath}}/{{ lang.lang }}/index.html">{{ lang.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block javascript %}{% endblock %}