{
  "rules": {
    "linebreak-style": [2, "unix"],
    "prettier": 2,
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none"
      }
    ]
  },
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"]
}
