.next
.vercel
.open-next

# Generated
packages/emoji-codepoints/index.ts
packages/gitbook/public/~gitbook/static/
packages/icons/src/data/*.json

# Build files
dist/

README.md
CHANGELOG.md

# v2
packages/gitbook-v2/public/~gitbook/static/