<div class="book-summary">
    <ul class="summary">
    <li>
        <a href="{{ basePath }}/README.html">Introduction</a>
    </li>
    <li>
        <a href="https://github.com/{{ githubAuthor }}" target="blank">About the author</a>
    </li>
    <li class="divider"></li>
    {% for item in summary.chapters %}
        <li {% if item._path == _input %}class="active"{% endif %}>
            <a href="{{ basePath }}/{{ item.path }}">{{ item.title }}</a>
            {% if item.articles.length > 0 %}
            <ul class="articles">
            {% for article in item.articles %}
                <li {% if article._path == _input %}class="active"{% endif %}>
                    <a href="{{ basePath }}/{{ article.path }}">{{ article.title }}</a>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>