{% extends "layout.html" %}

{% block htmlTag %}{% if options.cache !== false %}manifest="{{ basePath }}/manifest.appcache"{% endif %}{% endblock %}

{% block head %}
    {% parent %}
    {% if githubAuthor %}
    <meta name="author" content="{{ githubAuthor }}">
    {% endif %}
    {% if progress.current.next and progress.current.next.path %}
    <link rel="next" href="{{ basePath }}/{{ progress.current.next.path|mdLink }}" />
    {% endif %}
    {% if progress.current.prev and progress.current.prev.path %}
    <link rel="prev" href="{{ basePath }}/{{ progress.current.prev.path|mdLink }}" />
    {% endif %}
{% endblock %}

{% block title %}{{ progress.current.title }} | {{ title }}{% endblock %}
{% block description %}{% if progress.current.level == "0" %}{{ description }}{% endif %}{% endblock %}

{% block content %}
    <div class="book" {% if githubId %}data-github="{{ githubId }}"{% endif %} data-level="{{ progress.current.level }}" data-basepath="{{ basePath }}" data-revision="{{ revision }}">
    {% include "includes/book/header.html" %}
    {% include "includes/book/summary.html" %}
    <div class="book-body">
        <div class="body-inner">
            <div class="page-wrapper" tabindex="-1">
                {% include "includes/book/progress.html" %}

                <div class="page-inner">
                {% for section in content %}
                    <section class="{{ section.type }}" id="section-{{ section.id }}">
                    {% if section.type == "normal" %}
                        {% autoescape false %}{{ section.content }}{% endautoescape %}
                    {% elif section.type == "exercise" %}
                        {% include "./includes/book/exercise.html" with {section: section} %}
                    {% elif section.type == "quiz" %}
                        {% include "./includes/book/quiz.html" with {section: section} %}
                    {% endif %}
                    </section>
                {% endfor %}
                </div>
            </div>
        </div>

        {% if progress.current.prev and progress.current.prev.path %}
        <a href="{{ basePath }}/{{ progress.current.prev.path|mdLink }}" class="navigation navigation-prev {% if !progress.current.next or !progress.current.next.path %}navigation-unique{% endif %}" aria-label="Previous page: {{ progress.current.prev.title }}"><i class="fa fa-angle-left"></i></a>
        {% endif %}
        {% if progress.current.next and progress.current.next.path %}
        <a href="{{ basePath }}/{{ progress.current.next.path|mdLink }}" class="navigation navigation-next {% if !progress.current.prev or !progress.current.prev.path %}navigation-unique{% endif %}" aria-label="Next page: {{ progress.current.next.title }}"><i class="fa fa-angle-right"></i></a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ staticBase }}/jsrepl/jsrepl.js" id="jsrepl-script"></script>
<script src="{{ staticBase }}/app.js"></script>
{% for resource in plugins.resources.js %}
    {% if resource.url %}
    <script src="{{ resource.url }}"></script>
    {% else %}
    <script src="{{ staticBase }}/plugins/{{ resource.path }}"></script>
    {% endif %}
{% endfor %}
<script>
require(["gitbook"], function(gitbook) {
    var config = {% autoescape false %}{{ pluginsConfig }}{% endautoescape %};
    gitbook.start(config);
});
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ staticBase }}/style.css">
{% for resource in plugins.resources.css %}
    {% if resource.url %}
    <link rel="stylesheet" href="{{ resource.url }}">
    {% else %}
    <link rel="stylesheet" href="{{ staticBase }}/plugins/{{ resource.path }}">
    {% endif %}
{% endfor %}
{% endblock %}
