{% extends "../layout.html" %}

{% block title %}Table of Contents | {{ title }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ staticBase }}/print.css">
{% for resource in plugins.resources.css %}
    {% if resource.url %}
    <link rel="stylesheet" href="{{ resource.url }}">
    {% else %}
    <link rel="stylesheet" href="{{ staticBase }}/plugins/{{ resource.path }}">
    {% endif %}
{% endfor %}
{% endblock %}

{% block content %}
<div class="page">
    <h1>Table of Contents</h1>
    <p>
    {% for chapter in toc %}
        <a href="{{ basePath }}/{{ chapter.path|mdLink }}">{{ chapter.title }}</a><br/>
    {% endfor %}
    </p>
</div>
{% endblock %}

