/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/primitives/Emoji/emoji.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
[class*='emoji'] {
    font-family: var(--font-emojis-cbdt);
}

/* Safari Only CSS here */
_::-webkit-full-page-media,
_:future,
:root [class*='emoji'] {
    font-family: var(--font-emojis-sbix);
}

/* Chrome Only CSS here */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .emoji {
        font-family: var(--font-emojis-svg);
    }
}

/* Firefox Only CSS here */
@-moz-document url-prefix() {
    .emoji {
        font-family: var(--font-emojis-svg);
    }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src/components/primitives/Emoji/Emoji.tsx","import":"","arguments":[{"src":"./svg.woff2","preload":false,"variable":"--font-emojis-svg"}],"variableName":"svgFont"} ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__svgFont_274faa';
src: url(/_next/static/media/79ec87d3cdff1fa5-s.woff2) format('woff2');
font-display: swap;
}@font-face {font-family: '__svgFont_Fallback_274faa';src: local("Arial");ascent-override: 83.01%;descent-override: 14.65%;line-gap-override: 0.00%;size-adjust: 100.00%
}.__className_274faa {font-family: '__svgFont_274faa', '__svgFont_Fallback_274faa'
}.__variable_274faa {--font-emojis-svg: '__svgFont_274faa', '__svgFont_Fallback_274faa'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src/components/primitives/Emoji/Emoji.tsx","import":"","arguments":[{"src":"./sbix.woff2","preload":false,"variable":"--font-emojis-sbix"}],"variableName":"sbixFont"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__sbixFont_a7f53a';
src: url(/_next/static/media/8c5a8b58a82efc8e-s.woff2) format('woff2');
font-display: swap;
}@font-face {font-family: '__sbixFont_Fallback_a7f53a';src: local("Arial");ascent-override: 83.01%;descent-override: 14.65%;line-gap-override: 0.00%;size-adjust: 100.00%
}.__className_a7f53a {font-family: '__sbixFont_a7f53a', '__sbixFont_Fallback_a7f53a'
}.__variable_a7f53a {--font-emojis-sbix: '__sbixFont_a7f53a', '__sbixFont_Fallback_a7f53a'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src/components/primitives/Emoji/Emoji.tsx","import":"","arguments":[{"src":"./cbdt.woff2","preload":false,"variable":"--font-emojis-cbdt"}],"variableName":"cbdtFont"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__cbdtFont_e782a9';
src: url(/_next/static/media/332370fdb30dcf2a-s.woff2) format('woff2');
font-display: swap;
}@font-face {font-family: '__cbdtFont_Fallback_e782a9';src: local("Arial");ascent-override: 83.01%;descent-override: 14.65%;line-gap-override: 0.00%;size-adjust: 100.00%
}.__className_e782a9 {font-family: '__cbdtFont_e782a9', '__cbdtFont_Fallback_e782a9'
}.__variable_e782a9 {--font-emojis-cbdt: '__cbdtFont_e782a9', '__cbdtFont_Fallback_e782a9'
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Header/headerLinks.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.headerLinks_containerHeaderlinks__GUgiv {
    container-type: inline-size;
    container-name: headerlinks;
}

.headerLinks_containerHeaderlinks__GUgiv > * {
    display: none;
}

@container headerlinks ( width > 150px ) {
    .headerLinks_containerHeaderlinks__GUgiv > *:nth-child(1) {
        display: flex;
    }
}
@container headerlinks ( width > 300px ) {
    .headerLinks_containerHeaderlinks__GUgiv > *:nth-child(2) {
        display: flex;
    }
}
@container headerlinks ( width > 450px ) {
    .headerLinks_containerHeaderlinks__GUgiv > *:nth-child(3) {
        display: flex;
    }
}
@container headerlinks ( width > 600px ) {
    .headerLinks_containerHeaderlinks__GUgiv > *:nth-child(4) {
        display: flex;
    }
}
@container headerlinks ( width > 750px ) {
    .headerLinks_containerHeaderlinks__GUgiv > *:nth-child(5) {
        display: flex;
    }
}
@container headerlinks ( width > 900px ) {
    .headerLinks_containerHeaderlinks__GUgiv > *:nth-child(n + 5) {
        display: flex;
    }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/utils/ZoomImage.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
html:has(.ZoomImage_zoomModal__VzJS3) {
    overflow: hidden;
}

.ZoomImage_zoomImg__teSyL {
    cursor: zoom-in;
}

.ZoomImage_zoomImageActive__C33dt {
    view-transition-name: zoom-image;
}

.ZoomImage_zoomModal__VzJS3 {
}

.ZoomImage_zoomModal__VzJS3 img {
    view-transition-name: zoom-image;
    cursor: zoom-out;
}

