.book {
  .book-summary {
    font-family: @font-family-sans;

    position: fixed;
    top: @header-height;
    left: -@sidebar-width;
    bottom: 0px;
    z-index: 1;

    width: @sidebar-width;
    color: @sidebar-color;
    background: @sidebar-background;
    box-shadow: inset -1px 0 5px hsla(0, 0%, 0%, 0.1);

    .transition(all 0.5s ease);

    .book-search {
      padding: @sidebar-search-padding;

      background: @sidebar-search-background;
      border-bottom: 1px solid @sidebar-search-border-color;

      position: absolute;
      top: -@header-height;
      left: 0px;
      right: 0px;

      .transition(top 0.5s ease);

      input, input:focus {
        width: 100%;
        border: none;
        .box-shadow(none);
      }
    }

    ul.summary {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;

      overflow-y: auto;

      list-style: none;
      margin: 0px;
      padding: 0px;

      .transition(top 0.5s ease);

      li {
        list-style: none;

        &.divider {
          height: 1px;
          margin: 7px 0;
          overflow: hidden;
          background: @sidebar-divider-color;
          box-shadow: 0 1px rgba(255,255,255,0.7);
        }

        i.fa-check {
          display: none;
          position: absolute;
          right: 9px;
          top: 16px;
          font-size: 9px;
          color: @sidebar-icon-color;
        }

        &.done {
          > a {
            color: @sidebar-link-completed;
            font-weight: @sidebar-link-completed-weight;

            i {
              display: inline;
            }
          }
        }

        a, span {
          display: block;
          padding: 10px 15px;
          border-bottom: none;
          color: @sidebar-link-color;
          background: @sidebar-link-background;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          position: relative;
          padding-left: 25px;
        }

        span {
          cursor: not-allowed;
          .opacity(0.3);
        }

        &.active > a, a:hover {
          color: @sidebar-link-hover-color;
          background: @sidebar-link-hover-background;
          text-decoration: none;
        }

        ul {
          padding-left: @sidebar-nested-padding;
        }
      }
    }

    @media (max-width: 600px) {
      width: 100%;
      bottom: 0px;
      left: -100%;
    }
  }

  &.with-summary {
    .book-summary {
      left: 0px;
    }
  }

  &.without-animation {
    .book-summary {
      .transition(none) !important;
    }
  }

  &.with-search {
    .book-summary {
      .book-search {
        top: 0px;
      }

      ul.summary {
        top: @header-height;
      }
    }
  }
}
