/* Layout Components */
.openapi-operation {
    content-visibility: auto;
    contain-intrinsic-height: 600px;
    @apply flex-1 flex flex-col gap-4 mb-14;
}

.openapi-columns {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-6 print-mode:grid-cols-1 justify-stretch;
}

/* Introduction */
.openapi-intro {
    @apply flex flex-col gap-3 max-w-3xl;
}

.openapi-summary {
    @apply flex flex-row items-center gap-3;
}

.openapi-summary-title {
    @apply font-semibold text-xl;
}

.openapi-summary-title[data-deprecated='true'] {
    @apply line-through;
}

.openapi-deprecated {
    @apply py-0.5 px-1.5 min-w-[1.625rem] font-normal justify-center items-center ring-1 ring-inset ring-dark/1 bg-dark/[0.06] rounded-full dark:ring-light/1 dark:bg-light/1 dark:text-light text-sm leading-[calc(max(1.20em,1.25rem))] before:!content-none after:!content-none;
}

.openapi-deprecated-sunset-date {
    @apply font-medium font-mono;
}

.openapi-description.openapi-markdown {
    @apply prose-sm text-[15px];
}

.openapi-description.openapi-markdown code {
    @apply prose-sm;
}

/* Markdown Elements */
.openapi-markdown blockquote {
    @apply !ps-3;
}

.openapi-markdown blockquote > * {
    @apply not-italic;
}

.openapi-markdown blockquote > p {
    @apply before:content-none after:content-none !font-normal;
}

.openapi-markdown code {
    @apply py-px px-1 min-w-[1.625rem] font-normal w-fit justify-center items-center ring-1 ring-inset ring-dark/1 bg-dark/[0.06] rounded dark:ring-light/1 dark:bg-light/1 dark:text-light text-sm leading-[calc(max(1.20em,1.25rem))] before:!content-none after:!content-none;
}

.openapi-markdown pre code {
    @apply dark:!bg-transparent dark:!ring-transparent;
}

/* Markdown Base */
.openapi-markdown {
    @apply prose prose-p:!my-2 dark:prose-invert max-w-none whitespace-normal;
}

.openapi-markdown > *:first-child {
    @apply !mt-0;
}

.openapi-markdown > *:last-child {
    @apply !mb-0;
}

/* Method Tags */
.openapi-method {
    @apply rounded uppercase font-mono font-bold text-xs px-1 py-0.5 mr-2 text-dark-1/8 leading-tight align-middle inline-flex ring-1 ring-inset ring-dark-1/1 dark:ring-light-1/1 whitespace-nowrap;
}

.openapi-method-get {
    /* @apply bg-[hsl(215,54%,86%)] dark:bg-[hsla(215,54%,45%,0.24)] dark:text-[hsl(215,54%,86%)]; */
    @apply bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-100;
}

.openapi-method-post {
    /* @apply bg-[hsl(120,25%,80%)] dark:bg-[hsla(120,54%,32%,0.24)] dark:text-[hsl(120,25%,80%)]; */
    @apply bg-amber-100 text-amber-800 dark:bg-amber-900 dark:text-amber-100;
}

.openapi-method-put {
    @apply bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-100;
}

.openapi-method-patch {
    @apply bg-purple-100 text-purple-800 dark:bg-purple-900 dark:text-purple-100;
}

.openapi-method-delete {
    @apply bg-pomegranate-100 text-pomegranate-800 dark:bg-pomegranate-900 dark:text-pomegranate-100;
}

.openapi-method-head,
.openapi-method-options,
.openapi-method-trace {
    @apply bg-dark-3/4 dark:bg-light-3/5 dark:text-light-3;
}

/* URL */
.openapi-url {
    @apply font-mono text-sm text-dark/8 dark:text-light/8;
}

.openapi-url-var {
    @apply text-dark/7 underline underline-offset-2 decoration-dark/5 dark:decoration-light/5 dark:text-light/6;
}

/* Column Layout */
.openapi-column-spec {
    @apply flex flex-col gap-8 flex-1 max-w-3xl;
}

.openapi-column-preview {
    @apply flex flex-col flex-1 max-w-3xl;
}

.openapi-column-preview-body {
    @apply flex flex-col gap-4 sticky top-4 space-header:top-20 page-api-block:xl:max-2xl:top-32 print-mode:static;
}

.openapi-column-preview pre {
    @apply max-h-96 print-mode:max-h-none;
}

/* Schema Structure */
.openapi-schema-root {
    @apply mx-3 mb-3 mt-2;
}

.openapi-schema-properties {
    @apply flex flex-col;
}

.openapi-schema-body {
    @apply py-2.5 flex flex-col gap-2;
}

.openapi-section-body .openapi-schema-properties {
    @apply divide-y divide-dark/2 dark:divide-light/2;
}

.openapi-schema-properties .openapi-schema:last-child {
    @apply border-b-0;
}

.openapi-schema-properties .openapi-schema-opened {
    @apply pb-3;
}

.openapi-schema > .openapi-schema-properties {
    @apply mt-3;
}

/* Schema Presentation */
.openapi-schema-presentation {
    @apply flex flex-col gap-1.5 font-normal;
}

.openapi-schema-properties:last-child {
    @apply pb-0;
}

.openapi-schema-name {
    /* To make double click on the property name select only the name,
    we disable selection on the parent and re-enable it on the children. */
    @apply select-none flex gap-2.5 items-baseline text-sm;
}

.openapi-schema-name .openapi-deprecated {
    @apply text-xs;
}

.openapi-schema-propertyname {
    @apply select-all font-mono font-normal text-dark dark:text-light;
}

.openapi-schema-propertyname[data-deprecated='true'] {
    @apply line-through opacity-9;
}

.openapi-schema-required {
    @apply text-amber-600 text-[13px];
}

.openapi-schema-type {
    @apply text-dark/8 dark:text-light/8 select-text text-[13px] font-mono;
}

.openapi-schema-type:only-child {
    @apply ml-0;
}

/* Schema Header */
.openapi-schema-header {
    @apply flex flex-row items-center;
}

.openapi-schema-intro {
    @apply flex-1;
}

.openapi-schema-circular {
    @apply text-xs text-dark/6 dark:text-light/6;
}

.openapi-schema-circular a {
    @apply underline;
}

.openapi-schema-circular-glyph {
    @apply text-base;
}

/* Schema Enum */
.openapi-schema-enum {
    @apply flex flex-row text-sm leading-relaxed flex-wrap text-dark/7 dark:text-light/7;
}

.openapi-schema-enum-value {
    @apply text-sm;
}

.openapi-schema-enum-value:first-child {
    @apply rounded-l ml-0;
}

.openapi-schema-enum-value:last-child {
    @apply rounded-r;
}

/* Schema Description */
.openapi-schema-description.openapi-markdown {
    @apply prose-sm text-dark/7 dark:text-light/7 overflow-hidden !font-normal select-text prose-strong:font-semibold prose-strong:text-inherit;
}

.openapi-schema-description.openapi-markdown pre:has(code) {
    @apply overflow-x-auto flex-1 w-fit max-w-full h-fit whitespace-pre;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.openapi-schema-description.openapi-markdown pre::-webkit-scrollbar {
    display: none;
}

.openapi-schema-description.openapi-markdown pre code {
    font-weight: inherit !important;
    @apply text-xs !py-0;
}

/* Schema Examples */
.openapi-schema-example,
.openapi-schema-pattern {
    @apply prose-sm text-dark/7 dark:text-light/7;
}

.openapi-schema-example code,
.openapi-schema-pattern code,
.openapi-schema-enum-value code {
    @apply py-px px-1 min-w-[1.625rem] w-fit justify-center items-center ring-1 ring-inset ring-dark/1 bg-dark/[0.06] rounded dark:ring-light/1 dark:bg-light/1 text-dark dark:text-light leading-[calc(max(1.20em,1.25rem))] before:!content-none text-xs after:!content-none;
}

/* Authentication */
.openapi-securities-header {
    @apply py-2 border-b border-dark/2 dark:border-light/2 max-w-full flex-1;
}

/* .openapi-securities-header:has(.openapi-section-toggle[aria-expanded='true']) {
    @apply border-dark/2 dark:border-light/2;
} */

.openapi-securities-body {
    @apply flex flex-col gap-2;
}

.openapi-securities-description.openapi-markdown {
    @apply prose-sm text-dark/7 dark:text-light/7 !font-normal select-text prose-strong:font-semibold prose-strong:text-inherit;
}

.openapi-securities-label {
    @apply font-medium text-sm text-dark-2 dark:text-light-4;
}

/* Parameters */
.openapi-parameters-header {
    @apply py-2 border-b border-dark/2 dark:border-light/2 max-w-full flex-1;
}

.openapi-parameters-header-content {
}

/* Request Body */
.openapi-requestbody-header {
    @apply py-2 border-b border-dark/2 dark:border-light/2 max-w-full flex-1;
}

.openapi-requestbody-header-content {
}

.openapi-requestbody-description.openapi-markdown {
    @apply prose-sm text-dark/7 dark:text-light/7 !font-normal select-text prose-strong:font-semibold prose-strong:text-inherit;
}

/* Responses */
.openapi-responses-header {
    @apply py-2 border-b border-dark/2 dark:border-light/2 max-w-full flex-1;
}

.openapi-responses-header-content {
}

.openapi-response-tab-content {
    @apply overflow-hidden max-w-full flex items-center gap-2;
}

.openapi-response-description.openapi-markdown {
    @apply prose-sm text-[13px] leading-none relative text-dark/7 dark:text-light/7 !font-normal select-text prose-strong:font-semibold prose-strong:text-inherit;
    @apply overflow-x-auto whitespace-pre;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.openapi-response-description.openapi-markdown::-webkit-scrollbar {
    display: none;
}

.openapi-response-description p {
    @apply truncate max-w-full pr-1;
}

.openapi-response-statuscode {
    @apply tabular-nums text-sm font-normal font-mono shrink-0;
}

.openapi-response-content-type {
    @apply text-xs text-dark/8 dark:text-light/8 ml-auto shrink-0;
}

.openapi-response-body {
    @apply flex flex-col gap-4;
}

/* Response Body and Headers */
.openapi-responsebody .openapi-schema-name {
    @apply mb-0;
}

.openapi-responsebody .openapi-schema-presentation {
    @apply py-0;
}

.openapi-responsebody .openapi-schema-body {
    @apply pt-0;
}

.openapi-responsebody-header,
.openapi-responseheaders-header {
    @apply px-3 py-1;
}

.openapi-responsebody-header-content,
.openapi-responseheaders-header-content {
}

/* Code Sample */
.openapi-codesample {
    @apply border rounded bg-light-2 border-dark/1 dark:bg-dark-2 dark:border-light/2;
}

.openapi-codesample-header {
    @apply flex flex-row items-center;
}

.openapi-codesample-header-content {
    @apply flex flex-row items-center h-fit;
}

/* Path */
.openapi-path {
    @apply flex items-center bg-light text-sm gap-2 p-2 border rounded-md border-dark/2 dark:border-light/2 dark:bg-dark;
}

.openapi-path .openapi-method {
    @apply text-[13px] m-0 px-1;
}

.openapi-path-title {
    @apply flex-1 relative font-normal whitespace-nowrap overflow-x-auto font-mono text-dark dark:text-light;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.openapi-path-title[data-deprecated='true'] {
    @apply line-through;
}

.openapi-path-title::-webkit-scrollbar {
    display: none;
}

/* .openapi-path-copy {
    @apply absolute opacity-0 h-fit right-0 top-1/2 -translate-y-1/2 bg-light dark:bg-dark border rounded-md border-dark/2 dark:border-light/2 px-1.5 py-0;
}

.openapi-path-title:hover .openapi-path-copy {
    @apply opacity-11;
} */

.openapi-path-title em {
    @apply not-italic text-primary font-medium;
}

.openapi-path-separator {
    @apply text-dark/7 dark:text-light/7;
}

.openapi-path-overlay {
    @apply flex flex-row items-center py-2 px-3 justify-end border-t border-dark/2 dark:border-light/2;
}

/* Response Example */
.openapi-response-example {
    @apply border rounded bg-light-2 border-dark/1 dark:bg-dark-2 dark:border-light/2;
}

/* Common Elements */
.openapi-select {
    @apply max-w-60 rounded font-mono text-xs leading-6 px-1 py-0.5 border border-dark-2/2 bg-light-2 dark:bg-dark-2 dark:border-light/1;
}

/* Section Components */
.openapi-section-header {
    @apply flex flex-row items-center;
}

.openapi-section-header-content {
    @apply flex-1 text-base gap-1.5 flex w-full font-medium text-dark dark:text-light;
}

.openapi-section-header-controls {
    @apply flex flex-row items-center gap-2;
}

.openapi-section-header-content:has(.openapi-section-toggle) {
    @apply cursor-pointer;
}

.openapi-section-header-content:hover .openapi-section-toggle {
    @apply text-dark dark:text-light;
}

.openapi-section-toggle {
    @apply text-dark/6 dark:text-light/6;
}

.openapi-section-toggle > svg {
    @apply transition-all;
}

.openapi-section-toggle[aria-expanded='true'] > svg {
    @apply rotate-90;
}

.openapi-section-toggle:focus-visible {
    @apply text-primary-500;
}

.openapi-section-toggle svg {
    @apply size-3;
}

/* Tabs */
.openapi-tabs-list {
    @apply flex flex-row gap-3 py-1.5 px-2.5 border-b border-dark/2 dark:border-light/2 w-full;
}

.openapi-tabs-tab {
    @apply hover:bg-light-3 font-mono font-normal tabular-nums dark:hover:bg-dark-3 hover:text-primary cursor-pointer transition-all relative text-[13px] text-dark/7 px-1 dark:text-light/7 border border-transparent rounded;
}

.openapi-tabs-tab[aria-selected='true'] {
    @apply text-primary after:absolute after:-bottom-2 after:left-0 after:w-full after:h-px after:bg-primary after:transition-all;
}

.openapi-tabs-panel {
    @apply flex-1 text-sm focus-visible:outline-none;
}

.openapi-tabs-footer {
    @apply px-3 py-2.5 border-t border-dark/2 dark:border-light/2 text-[13px] text-dark/7 dark:text-light/7;
}

/* Disclosure group */
.openapi-disclosure-group {
    @apply border-b border-dark/2 relative dark:border-light/2;
}

.openapi-disclosure-group-trigger {
    @apply flex items-center relative w-full flex-1 gap-2.5 py-2 -outline-offset-1;
    /* @apply after:w-4 after:bg-gradient-to-l after:from-light to-transparent after:absolute after:right-0 after:top-0 after:h-full; */
}

.openapi-disclosure-group-trigger:disabled {
    @apply cursor-default !pl-5;
}

.openapi-disclosure-group:only-child,
.openapi-disclosure-group:last-child {
    @apply border-b-0;
}

.openapi-disclosure-group-icon > svg {
    @apply size-3 text-dark/6 dark:text-light/6 transition-transform;
}

.openapi-disclosure-group-trigger:hover > .openapi-disclosure-group-icon svg {
    @apply text-dark dark:text-light transition-transform;
}

.openapi-disclosure-group-panel {
    @apply pb-2.5;
}

.openapi-disclosure-group-trigger[aria-expanded='true'] > .openapi-disclosure-group-icon > svg {
    @apply rotate-90;
}

/* Disclosure */
.openapi-disclosure-trigger {
    @apply transition-all duration-300 hover:text-dark dark:hover:text-light rounded-2xl border border-dark/2 dark:border-light/2 px-2.5 py-1 text-[13px] dark:text-light/7 text-dark/7 flex flex-row items-center gap-1.5 -outline-offset-1;
}

.openapi-disclosure svg {
    @apply size-3 transition-all duration-300;
}

.openapi-disclosure-trigger[aria-expanded='true'] svg {
    @apply rotate-45;
}

.openapi-disclosure-trigger[aria-expanded='true'] {
    @apply w-full rounded-lg border-b rounded-b-none;
}

.openapi-disclosure-trigger[aria-expanded='false'] {
    @apply w-auto;
}

.openapi-disclosure-panel[aria-hidden='false'] {
    @apply border-b border-x border-dark/2 rounded-b-lg dark:border-light/2;
}

.openapi-disclosure-panel .openapi-schema-body {
    @apply p-2.5;
}

.openapi-disclosure .openapi-schema-properties .openapi-schema:only-child,
.openapi-disclosure .openapi-schema-properties .openapi-schema:only-child .openapi-schema-name {
    @apply !m-0;
}

.openapi-disclosure .openapi-schema-properties .openapi-schema-enum {
    @apply pt-0 mt-0;
}
