.openapi-operation {
    content-visibility: auto;
    contain-intrinsic-height: 600px;
    @apply flex-1 flex flex-col gap-4;
}

.openapi-columns {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6 print-mode:grid-cols-1 justify-stretch;
}

/** Intro */

.openapi-intro {
    @apply flex flex-col gap-3 max-w-3xl;
}

.openapi-summary {
    @apply font-semibold text-xl;
}

.openapi-description.openapi-markdown {
    @apply prose-base;
}

.openapi-markdown blockquote {
    @apply !ps-3;
}

.openapi-markdown blockquote > * {
    @apply not-italic;
}

.openapi-markdown blockquote > p {
    @apply before:content-none after:content-none font-normal;
}

.openapi-markdown code {
    @apply py-px
    px-1
    min-w-[1.625rem]
    w-fit
    justify-center
    items-center
    ring-1
    ring-inset
    ring-dark/1
    bg-dark/[0.06]
    rounded
    dark:ring-light/1
    dark:bg-light/1
    dark:!text-light-4
    text-sm
    leading-[calc(max(1.20em,1.25rem))]
    before:!content-none
    font-medium
    after:!content-none;
}

.openapi-markdown pre code {
    @apply dark:!bg-transparent dark:!ring-transparent;
}

/** Method tag */

.openapi-method {
    @apply rounded uppercase font-mono font-bold text-[11.5px] px-1 py-0.5 mr-2 text-dark-1/8 leading-tight align-middle inline-flex ring-1 ring-inset ring-dark-1/1 dark:ring-light-1/1 whitespace-nowrap;
}

.openapi-method-get {
    @apply bg-[hsl(215,54%,86%)] dark:bg-[hsla(215,54%,45%,0.24)] dark:text-[hsl(215,54%,86%)];
}

.openapi-method-post {
    @apply bg-[hsl(120,25%,80%)] dark:bg-[hsla(120,54%,32%,0.24)] dark:text-[hsl(120,25%,80%)];
}

.openapi-method-put {
    @apply bg-yellow dark:bg-yellow-600/5 dark:text-yellow;
}

.openapi-method-patch {
    @apply bg-teal-300 dark:bg-teal-600/5 dark:text-teal-300;
}

.openapi-method-delete {
    @apply bg-pomegranate-200 dark:bg-pomegranate-500/5 dark:text-pomegranate-200;
}

.openapi-method-head,
.openapi-method-options,
.openapi-method-trace {
    @apply bg-dark-3/4 dark:bg-light-3/5 dark:text-light-3;
}

/** URL */

.openapi-url {
    @apply font-mono text-sm text-dark/8 dark:text-light/8;
}

.openapi-url-var {
    @apply text-dark/7 underline underline-offset-2 decoration-dark/5 dark:decoration-light/5 dark:text-light/6;
}

/** Columns */

.openapi-column-spec {
    @apply flex flex-col gap-4 flex-1 max-w-3xl;
}

.openapi-column-preview {
    @apply flex flex-col flex-1 max-w-3xl;
}

.openapi-column-preview-body {
    @apply flex flex-col gap-4 sticky top-4 space-header:top-20 page-api-block:xl:max-2xl:top-32 print-mode:static;
}

.openapi-column-preview pre {
    @apply max-h-96 print-mode:max-h-none;
}

/** Schemas */

.openapi-schema-root {
    @apply mx-3 mb-3 mt-2;
}

.openapi-schema-properties {
    @apply flex flex-col;
}

.openapi-section-body .openapi-schema-properties {
    @apply divide-y divide-dark/2 dark:divide-light/2;
}

.openapi-schema-properties .openapi-schema:last-child {
    @apply border-b-0;
}

.openapi-schema-properties .openapi-schema-opened {
    @apply pb-3;
}

.openapi-schema > .openapi-schema-properties {
    @apply mt-3;
}

.openapi-schema-presentation {
    @apply flex flex-col gap-2 py-3;
}

.openapi-schema-name {
    /* To make double click on the property name select only the name,
    we disable selection on the parent and re-enable it on the children. */
    @apply select-none flex gap-2.5 items-baseline text-sm;
}

.openapi-schema-propertyname {
    @apply select-all font-medium font-mono text-dark dark:text-light;
}

.openapi-schema-required {
    @apply font-normal text-amber-600 text-[13px];
}

.openapi-schema-type {
    @apply text-dark-4/8 dark:text-light-4 select-text text-[13px] font-normal font-mono;
}

.openapi-schema-type:only-child {
    @apply ml-0;
}

.openapi-schema-header {
    @apply flex flex-row items-center;
}

.openapi-schema-intro {
    @apply flex-1;
}

.openapi-schema-circular {
    @apply text-xs text-dark/6 dark:text-light/6;
}

.openapi-schema-circular a {
    @apply underline;
}

.openapi-schema-circular-glyph {
    @apply text-base;
}

.openapi-schema-enum {
    @apply flex flex-row text-sm flex-wrap mt-1 text-dark-4/8 dark:text-light-3;
}

.openapi-schema-enum-value {
    @apply text-sm;
}

.openapi-schema-enum-value:first-child {
    @apply rounded-l ml-0;
}

.openapi-schema-enum-value:last-child {
    @apply rounded-r;
}

.openapi-schema-description.openapi-markdown {
    @apply prose-sm text-dark-4/8 dark:text-light-3 font-normal select-text prose-strong:font-semibold prose-strong:text-inherit;
}

.openapi-schema-description.openapi-markdown pre code {
    font-weight: inherit !important;
    @apply text-xs max-w-full overflow-x-scroll !py-0;
}

.openapi-schema-description.openapi-markdown pre:has(code) {
    @apply flex-1 truncate overflow-hidden flex flex-row w-fit h-fit items-center;
}

.openapi-schema-example,
.openapi-schema-pattern {
    @apply prose-sm text-dark-4/8 dark:text-light-3;
}

.openapi-schema-example code,
.openapi-schema-pattern code,
.openapi-schema-enum-value code {
    @apply py-px
    px-1
    min-w-[1.625rem]
    w-fit
    justify-center
    items-center
    ring-1
    ring-inset
    ring-dark/1
    bg-dark/[0.06]
    rounded
    dark:ring-light/1
    dark:bg-light/1
    text-dark dark:text-light
    leading-[calc(max(1.20em,1.25rem))]
    before:!content-none
    text-xs
    after:!content-none;
}

/** Authentication */

.openapi-securities {
}

.openapi-securities-header {
    @apply py-2 border-b border-dark/2 dark:border-light/2 max-w-full flex-1;
}

.openapi-securities-header-content {
    @apply font-medium text-dark-2 text-base dark:text-light;
}

.openapi-securities-body {
    @apply flex flex-col gap-2;
}

.openapi-securities-description.openapi-markdown {
    @apply prose-sm text-dark-4/8 dark:text-light-3 font-normal select-text prose-strong:font-semibold prose-strong:text-inherit;
}

.openapi-securities-label {
    @apply font-medium text-sm text-dark-2 dark:text-light-4;
}

/** Parameters */

.openapi-parameters {
}

.openapi-parameters-header {
    @apply py-2 border-b border-dark/2 dark:border-light/2 max-w-full flex-1;
}

.openapi-parameters-header-content {
    @apply font-medium text-dark-2 text-base dark:text-light;
}

/** Request body */
.openapi-requestbody {
    /* @apply border rounded border-dark/2 dark:border-light/2; */
}

.openapi-requestbody-header {
    @apply py-2 border-b border-dark/2 dark:border-light/2 max-w-full flex-1;
}

.openapi-requestbody-header-content {
    @apply font-medium text-dark-2 text-base dark:text-light;
}

.openapi-requestbody-description.openapi-markdown {
    @apply prose-sm text-dark-4/8 dark:text-light-3 font-normal select-text prose-strong:font-semibold prose-strong:text-inherit;
}

/** Responses */
.openapi-responses {
}

.openapi-responses-header {
    @apply py-2 border-b border-dark/2 dark:border-light/2 max-w-full flex-1;
}

.openapi-responses-body {
    @apply flex flex-col gap-2;
}

.openapi-responses-header-content {
    @apply font-medium text-dark-2 text-base dark:text-light;
}

/** Response */
.openapi-response-tab-content {
    @apply truncate max-w-full flex items-center gap-2;
}

.openapi-response-description.openapi-markdown {
    @apply prose-sm text-[13px] text-left text-dark/8 dark:text-light/8 px-0 truncate;
}

.openapi-response-description p {
    @apply truncate max-w-full pr-1;
}

.openapi-response-statuscode {
    @apply tabular-nums text-sm font-mono shrink-0 font-medium;
}

.openapi-response-content-type {
    @apply text-xs text-dark/8 dark:text-light/8 ml-auto shrink-0;
}

.openapi-response-body {
    @apply flex flex-col gap-4;
}

.openapi-responsebody .openapi-schema-name {
    @apply mb-0;
}

.openapi-responsebody .openapi-schema-presentation {
    @apply py-0;
}

.openapi-responsebody-header,
.openapi-responseheaders-header {
    @apply px-3 py-1;
}

.openapi-responsebody-header-content,
.openapi-responseheaders-header-content {
    @apply text-base text-dark/8 dark:text-light/8;
}

/** Code sample */

.openapi-codesample {
    @apply border rounded bg-light-2 border-dark/1 dark:bg-dark-2 dark:border-light/2;
}

.openapi-codesample-header {
    @apply flex flex-row items-center px-3 py-2 border-b border-dark/2 dark:border-light/2;
}

.openapi-codesample-header-content {
    @apply flex flex-row items-center h-fit;
}

.openapi-codesample-title {
    @apply flex-1 font-medium text-sm font-mono text-dark/8 dark:text-light/8 truncate;
}

.openapi-codesample-title em {
    @apply not-italic text-dark dark:text-light;
}

.openapi-codesample-body {
    /* @apply py-2; */
}

.openapi-codesample-overlay {
    @apply flex flex-row items-center py-2 px-3 justify-end border-t border-dark/2 dark:border-light/2;
}

/** Response example */

.openapi-response-example {
    @apply border rounded bg-light-2 border-dark/1 dark:bg-dark-2 dark:border-light/2;
}

.openapi-response-example-header {
    @apply flex-1 w-full;
}
.openapi-response-example-header-content {
    @apply flex-1 w-full;
}

/** Common */

.openapi-select {
    @apply max-w-60 rounded font-mono text-xs leading-6 px-1 py-0.5 border border-dark-2/2 bg-light-2 dark:bg-dark-2 dark:border-light/1;
}

/** Section */

.openapi-section {
}

.openapi-section-header {
    @apply flex flex-row items-center;
}

.openapi-section-header-content {
    @apply flex-1 text-base flex w-full overflow-hidden;
}

.openapi-section-header-controls {
    @apply flex flex-row items-center gap-2;
}

.openapi-section-toggle {
    @apply flex items-center justify-end size-6 text-dark/6 dark:text-light/6;
}

.openapi-section-toggle:focus-visible {
    @apply text-primary-500;
}

.openapi-section-toggle svg {
    @apply size-3;
}

/** Markdown */
.openapi-markdown {
    @apply prose prose-zinc prose-p:!my-2 dark:prose-invert max-w-none whitespace-normal;
}

.openapi-markdown > *:first-child {
    @apply !mt-0;
}

.openapi-markdown > *:last-child {
    @apply !mb-0;
}

.openapi-operation .openapi-tabs-list {
    @apply flex flex-row gap-3 py-2 px-3 border-b border-dark/2 dark:border-light/2 w-full;
}

.openapi-operation .openapi-tabs-tab {
    @apply hover:bg-light-3 font-mono tabular-nums dark:hover:bg-dark-3 hover:text-primary cursor-pointer transition-all relative text-sm text-dark/7 px-1 dark:text-light/7 border border-transparent rounded;
}

.openapi-operation .openapi-tabs-tab[aria-selected='true'] {
    @apply text-primary after:absolute after:-bottom-2.5 after:left-0 after:w-full after:h-px after:bg-primary after:transition-all;
}

.openapi-operation .openapi-tabs-panel {
    @apply flex-1 text-sm focus-visible:outline-none;
}

.openapi-tabs-footer {
    @apply px-3 py-2.5 border-t border-dark/2 dark:border-light/2 text-xs text-dark/7 dark:text-light/7;
}

.openapi-disclosure-group {
    @apply border-b border-dark/2 dark:border-light/2;
}

.openapi-disclosure-group-trigger {
    @apply flex items-center truncate shrink w-full flex-1 gap-2.5 py-2 relative -outline-offset-1;
}

.openapi-disclosure-group:only-child,
.openapi-disclosure-group:last-child {
    @apply border-b-0;
}

.openapi-disclosure-group-icon > svg {
    @apply size-2.5 text-dark/8 dark:text-light/8 transition-transform;
}

.openapi-disclosure-group-icon {
    @apply absolute -left-2.5 top-1/2 transform -translate-y-1/2 z-[9999];
}

.openapi-disclosure-group-panel {
    @apply pb-2.5;
}

.openapi-disclosure-group-trigger[aria-expanded='true'] > svg {
    @apply rotate-90;
}

.openapi-disclosure-trigger {
    @apply transition-all hover:text-dark dark:hover:text-light rounded-2xl border border-dark/2 dark:border-light/2 px-1.5 py-0.5 text-[13px] dark:text-light/7 text-dark/7 flex flex-row items-center gap-1.5 -outline-offset-1;
}

.openapi-disclosure svg {
    @apply size-2.5 transition-all duration-300;
}

.openapi-disclosure-trigger[aria-expanded='true'] svg {
    @apply rotate-45;
}

.openapi-disclosure-trigger[aria-expanded='true'] {
    @apply w-full rounded-lg border-b rounded-b-none;
}

.openapi-disclosure-trigger[aria-expanded='false'] {
    @apply w-auto;
}

.openapi-disclosure-panel[aria-hidden='false'] {
    @apply border-b border-x border-dark/2 rounded-b-lg dark:border-light/2;
}

.openapi-disclosure-panel .openapi-schema-presentation {
    @apply p-2;
}

.openapi-disclosure .openapi-schema-properties .openapi-schema:only-child,
.openapi-disclosure .openapi-schema-properties .openapi-schema:only-child .openapi-schema-name {
    @apply !m-0;
}

.openapi-disclosure .openapi-schema-properties .openapi-schema-enum {
    @apply p-2 pt-0 mt-0;
}
