svg.gb-icon,
svg.gb-icon-s {
    display: block;
}

/* Normal */
svg.gb-icon {
    background: currentColor;
}

/* Sprite */
svg.gb-icon-s path,
svg.gb-icon-s use {
    fill: currentColor;
    stroke: currentColor;
}
