<div class="exercise-header">Quiz</div>
<div class="exercise-inner">{% autoescape false %}{{ section.content }}{% endautoescape %}</div>
{% for quiz in section.quiz %}
<div class="question exercise-inner">
    <div class="question-header">Question {{ loop.index }} of {{ section.quiz.length }}</div>

    <div class="question-base">
    {% autoescape false %}{{ quiz.base }}{% endautoescape %}
    </div>
    <div class="question-solution">
    {% autoescape false %}{{ quiz.solution }}{% endautoescape %}
    </div>
</div>
{% endfor %}
