<div class="page-footer">
    {% if progress.current.next %}
        {% if progress.current.next.path %}
        <a href="{{ basePath }}/{{ progress.current.next.path|mdLink }}" class="navigation-link next">
            {% if _input == "README.md" %}
            Start
            {% else %}
            Next
            {% endif %}
        </a>
        {% else %}
        <div class="navigation-link coming-soon">Coming soon</div>
        {% endif %}
    {% else %}
    <div class="navigation-link finished">Finished!</div>
    {% endif %}
</div>