{% macro articles(_articles) %}
    {% for item in _articles %}
        {% set externalLink = item.path|isExternalLink %}
        <li class="chapter {% if item.path == _input %}active{% endif %}" data-level="{{ item.level }}" {% if item.path && !externalLink %}data-path="{{ item.path|mdLink }}"{% endif %}>
            {% if item.path %}
                {% if !externalLink %}
                    <a href="{{ basePath }}/{{ item.path|mdLink }}">
                        <i class="fa fa-check"></i>
                        {% if item.level !== "0" %}
                            <b>{{ item.level }}.</b>
                        {% endif %}
                         {{ item.title }}
                    </a>
                {% else %}
                    <a target="_blank" href="{{ item.path }}">
                        <i class="fa fa-check"></i>
                        {% if item.level !== "0" %}
                            <b>{{ item.level }}.</b>
                        {% endif %}
                         {{ item.title }}
                    </a>
                {% endif %}
            {% else %}
            <span><b>{{ item.level }}.</b> {{ item.title }}</span>
            {% endif %}
            {% if item.articles.length > 0 %}
            <ul class="articles">
                {{ articles(item.articles) }}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<div class="book-summary">
    <div class="book-search">
        <input type="text" placeholder="Search" class="form-control" />
    </div>
    <ul class="summary">
        {% set _divider = false %}
        {% if options.links.about !== false && (options.links.about || githubId) %}
        {% set _divider = true %}
        <li>
            <a href="{{ options.links.about|default(githubHost+githubAuthor) }}" target="blank" class="author-link">About the author</a>
        </li>
        {% endif %}

        {% if options.links.issues !== false && (options.links.issues || githubId) %}
        {% set _divider = true %}
        <li>
            <a href="{{ options.links.issues|default(githubHost+githubId+"/issues") }}" target="blank"class="issues-link">Questions and Issues</a>
        </li>
        {% endif %}

        {% if options.links.contribute !== false && (options.links.contribute || githubId) %}
        {% set _divider = true %}
        <li>
            <a href="{{ options.links.contribute|default(githubHost+githubId+"/edit/master/"+_input) }}" target="blank" class="contribute-link">Edit and Contribute</a>
        </li>
        {% endif %}

	{% if options.links.custom %}
	{% for link in options.links.custom %}
	    {% set _divider = true %}
	     <li> 
	         <a href="{{ options.links.custom[loop.key] }}" target="blank" class="custom-link">{{ loop.key }}</a>
             </li>
	{% endfor %}
	{% endif %}

        {% if _divider %}
        <li class="divider"></li>
        {% endif %}

        {{ articles(summary.chapters) }}

        {% if options.links.gitbook !== false %}
        <li class="divider"></li>
        <li>
            <a href="http://www.gitbook.io/" target="blank" class="gitbook-link">Generated using GitBook</a>
        </li>
        {% endif %}
    </ul>
</div>
