<div class="book-header">
    <!-- Actions Left -->
    <a href="#" class="btn pull-left toggle-summary" aria-label="{{ __("SUMMARY_TOGGLE") }}"><i class="fa fa-align-justify"></i></a>
    <a href="#" class="btn pull-left toggle-search" aria-label="{{ __("SEARCH_TOGGLE") }}"><i class="fa fa-search"></i></a>
    {% if glossary.length > 0 %}
    <a href="{{ basePath }}/GLOSSARY.html" class="btn pull-left" aria-label="{{ __("GLOSSARY_OPEN") }}"><i class="fa fa-sort-alpha-asc"></i></a>
    {% endif %}
    <div id="font-settings-wrapper" class="dropdown pull-left">
        <a href="#" class="btn toggle-dropdown" aria-label="{{ __("FONTSETTINGS_TOGGLE") }}"><i class="fa fa-font"></i>
        </a>
        {% include "./font-settings.html" %}
    </div>

    <!-- Actions Right -->
    {% if options.links.sharing.all != false %}
    <div class="dropdown pull-right">
        <a href="#" class="btn toggle-dropdown" aria-label="{{ __("SHARE_TOGGLE") }}"><i class="fa fa-share-alt"></i>
        </a>
        <div class="dropdown-menu font-settings dropdown-left">
            <div class="dropdown-caret">
                <span class="caret-outer"></span>
                <span class="caret-inner"></span>
            </div>
            <div class="buttons">
                <button type="button" data-sharing="twitter" class="button">
                    {{ __("SHARE_ON", platform="Twitter") }}
                </button>
                <button type="button" data-sharing="google-plus" class="button">
                    {{ __("SHARE_ON", platform="Google") }}
                </button>
                <button type="button" data-sharing="facebook" class="button">
                    {{ __("SHARE_ON", platform="Facebook") }}
                </button>
                <button type="button" data-sharing="weibo" class="button">
                    {{ __("SHARE_ON", platform="Weibo") }}
                </button>
                <button type="button" data-sharing="instapaper" class="button">
                    {{ __("SHARE_ON", platform="Instapaper") }}
                </button>
            </div>
        </div>
    </div>
    {% endif %}

    {% if options.links.sharing.google != false %}
    <a href="#" target="_blank" class="btn pull-right google-plus-sharing-link sharing-link" data-sharing="google-plus" aria-label="Google"><i class="fa fa-google-plus"></i></a>
    {% endif %}
    {% if options.links.sharing.facebook != false %}
    <a href="#" target="_blank" class="btn pull-right facebook-sharing-link sharing-link" data-sharing="facebook" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
    {% endif %}
    {% if options.links.sharing.twitter != false %}
    <a href="#" target="_blank" class="btn pull-right twitter-sharing-link sharing-link" data-sharing="twitter" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if options.links.sharing.weibo == true %}
    <a href="#" target="_blank" class="btn pull-right weibo-sharing-link sharing-link" data-sharing="weibo" aria-label="Weibo"><i class="fa fa-weibo"></i></a>
    {% endif %}
    {% if options.links.sharing.vk == true %}
    <a href="#" target="_blank" class="btn pull-right vk-sharing-link sharing-link" data-sharing="vk" aria-label="VK"><i class="fa fa-vk"></i></a>
    {% endif %}


    <!-- Title -->
    <h1>
        <i class="fa fa-circle-o-notch fa-spin"></i>
        <a href="{{ basePath }}/" >{{ title }}</a>
    </h1>
</div>
