/* Base classes */
.icon {
    width: 16px;
    height: 16px;
}

.fade {
    transition: all 0.3s ease;
    transition-behavior: allow-discrete;
}

/* Animations */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes pathLoading {
    0%, 10% {
        stroke-dasharray: 100 100;
        stroke-dashoffset: 0;
        opacity: 1;
    }
    50% {
        stroke-dasharray: 100 100;
        stroke-dashoffset: -100;
        opacity: 0;
    }
    51% {
        stroke-dasharray: 0 100;
        stroke-dashoffset: 0;
        opacity: 0;
    }
    90%, 100% {
        stroke-dasharray: 100 100;
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

@keyframes pathEnter {
    from {
        stroke-dasharray: 0 100;
        stroke-dashoffset: 0;
        opacity: 0;
    }
    to {
        stroke-dasharray: 100 100;
        stroke-dashoffset: 0;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-15%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(10%) rotate(0deg) translateX(-10%);
    }
    to {
        transform: rotate(360deg) translateX(10%) rotate(-360deg) translateX(-10%);
    }
}