@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --dark: 24 24 24;
        --light: 249 250 250;
        --vanta: 2 12 13;
        --metal: 222 229 229;
        --sky: 187 221 229;
        --periwinkle: 172 198 238;
        @apply leading-relaxed;
    }
    body {
        @apply text-dark/9 dark:text-light/9;
    }
    html {
        @apply gutter-stable;
    }
    h1 {
        @apply tracking-[-0.025em] text-dark dark:text-light textwrap-balance;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply tracking-[-0.0125em] text-dark dark:text-light;
    }

    a,
    button,
    input,
    textarea {
        @apply outline-2 outline-primary/6;
    }

    /*  text selection color */
    ::selection {
        @apply bg-primary-700 text-white;
    }

    .dark ::selection {
        @apply bg-primary-700 text-white;
    }

    /*  Light mode */
    ::-webkit-scrollbar {
        @apply bg-dark/1;
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-dark/4;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-dark/5;
    }

    /*  Dark mode */
    .dark ::-webkit-scrollbar {
        @apply bg-light/1;
    }

    .dark ::-webkit-scrollbar-thumb {
        @apply bg-light/3;
    }

    .dark ::-webkit-scrollbar-thumb:hover {
        @apply bg-light/4;
    }

    /*  Inverted theme light mode */
    .inverted-theme-scroll::-webkit-scrollbar {
        @apply bg-transparent;
    }

    .inverted-theme-scroll::-webkit-scrollbar-thumb {
        @apply bg-dark/5;
    }

    .inverted-theme-scroll::-webkit-scrollbar-thumb:hover {
        @apply bg-dark/6;
    }
}

@layer utilities {
    .linear-mask-gradient {
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 96px, rgba(0, 0, 0, 0));
    }
    .linear-mask-util {
        mask-image: linear-gradient(to bottom, white, white);
    }
    .grid-area-1-1 {
        grid-area: 1/1;
    }
    .gutter-stable {
        scrollbar-gutter: stable;
    }
    .textwrap-balance {
        text-wrap: balance;
    }
    .textwrap-pretty {
        text-wrap: pretty;
    }

    .triangle {
        position: relative;
        background-color: orange;
        text-align: left;
        transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
    }
    .triangle:before,
    .triangle:after {
        content: '';
        position: absolute;
        background-color: inherit;
    }
    .triangle,
    .triangle:before,
    .triangle:after {
        width: inherit;
        height: inherit;
        border-top-right-radius: 30%;
    }

    .triangle:before {
        transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
    }
    .triangle:after {
        transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
    }
}
