/* ===================================================================
   TW-PROSE - CSS-only Typography for Tailwind CSS v4
   Compatible with @utility directives and Tailwind v4 variables
   =================================================================== */


   /* Base */
   @utility prose {
    color: var(--tw-prose-body);
    max-width: 65ch;
    font-size: var(--text-base);
    line-height: calc(var(--leading-normal) + 0.25);

    --tw-prose-body: oklch(37.3% .034 259.733);
    --tw-prose-headings: oklch(21% .034 264.665);
    --tw-prose-lead: oklch(44.6% .03 256.802);
    --tw-prose-links: oklch(21% .034 264.665);
    --tw-prose-bold: oklch(21% .034 264.665);
    --tw-prose-counters: oklch(55.1% .027 264.364);
    --tw-prose-bullets: oklch(87.2% .01 258.338);
    --tw-prose-hr: oklch(92.8% .006 264.531);
    --tw-prose-quotes: oklch(21% .034 264.665);
    --tw-prose-quote-borders: oklch(92.8% .006 264.531);
    --tw-prose-captions: oklch(55.1% .027 264.364);
    --tw-prose-kbd: oklch(21% .034 264.665);
    --tw-prose-kbd-shadows: NaN NaN NaN;
    --tw-prose-code: oklch(21% .034 264.665);
    --tw-prose-pre-code: oklch(92.8% .006 264.531);
    --tw-prose-pre-bg: oklch(27.8% .033 256.848);
    --tw-prose-th-borders: oklch(87.2% .01 258.338);
    --tw-prose-td-borders: oklch(92.8% .006 264.531);
    --tw-prose-invert-body: oklch(87.2% .01 258.338);
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: oklch(70.7% .022 261.325);
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: oklch(70.7% .022 261.325);
    --tw-prose-invert-bullets: oklch(44.6% .03 256.802);
    --tw-prose-invert-hr: oklch(37.3% .034 259.733);
    --tw-prose-invert-quotes: oklch(96.7% .003 264.542);
    --tw-prose-invert-quote-borders: oklch(37.3% .034 259.733);
    --tw-prose-invert-captions: oklch(70.7% .022 261.325);
    --tw-prose-invert-kbd: #fff;
    --tw-prose-invert-kbd-shadows: 255 255 255;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: oklch(87.2% .01 258.338);
    --tw-prose-invert-pre-bg: #00000080;
    --tw-prose-invert-th-borders: oklch(44.6% .03 256.802);
    --tw-prose-invert-td-borders: oklch(37.3% .034 259.733);
  
    & p {
      margin-top: 1.25em;
      margin-bottom: 1.25em;
    }
  
    & [class~='lead'] {
      color: var(--tw-prose-lead);
      font-size: 1.25em;
      line-height: 1.6;
      margin-top: 1.2em;
      margin-bottom: 1.2em;
    }
  
    & a {
      color: var(--tw-prose-links);
      text-decoration: underline;
      font-weight: var(--font-weight-medium);
    }
  
    & strong {
      color: 'inherit';
      font-weight: var(--font-weight-semibold);
    }
  
    & a strong {
      color: inherit;
    }
  
    & blockquote strong {
      color: inherit;
    }
  
    & thead th strong {
      color: inherit;
    }
  
    & ol {
      list-style-type: decimal;
      margin-top: 1.25em;
      margin-bottom: 1.25em;
      padding-inline-start: 1.625em;
    }
  
    & ol[type='A'] {
      list-style-type: upper-alpha;
    }
  
    & ol[type='a'] {
      list-style-type: lower-alpha;
    }
  
    & ol[type='A' s] {
      list-style-type: upper-alpha;
    }
  
    & ol[type='a' s] {
      list-style-type: lower-alpha;
    }
  
    & ol[type='I'] {
      list-style-type: upper-roman;
    }
  
    & ol[type='i'] {
      list-style-type: lower-roman;
    }
  
    & ol[type='I' s] {
      list-style-type: upper-roman;
    }
  
    & ol[type='i' s] {
      list-style-type: lower-roman;
    }
  
    & ol[type='1'] {
      list-style-type: decimal;
    }
  
    & ul {
      list-style-type: disc;
      margin-top: 1.25em;
      margin-bottom: 1.25em;
      padding-inline-start: 1.625em;
    }
  
    & ol > li::marker {
      font-weight: var(--font-weight-normal);
      color: var(--tw-prose-counters);
    }
  
    & ul > li::marker {
      color: var(--tw-prose-bullets);
    }
  
    & dt {
      color: var(--tw-prose-headings);
      font-weight: var(--font-weight-semibold);
      margin-top: 1.25em;
    }
  
    & hr {
      border-color: var(--tw-prose-hr);
      border-top-width: 1px;
      margin-top: 3em;
      margin-bottom: 3em;
    }
  
    & blockquote {
      font-weight: var(--font-weight-medium);
      font-style: italic;
      color: var(--tw-prose-quotes);
      border-inline-start-width: 0.25rem;
      border-inline-start-color: var(--tw-prose-quote-borders);
      quotes: '\201C' '\201D' '\2018' '\2019';
      margin-top: 1.6em;
      margin-bottom: 1.6em;
      padding-inline-start: 1em;
    }
  
    & blockquote p:first-of-type::before {
      content: open-quote;
    }
  
    & blockquote p:last-of-type::after {
      content: close-quote;
    }
  
    & h1 {
      color: var(--tw-prose-headings);
      font-weight: var(--font-weight-extrabold);
      font-size: 2.25em;
      margin-top: 0;
      margin-bottom: 0.8888889em;
      line-height: 1.1111111;
    }
  
    & h1 strong {
      font-weight: var(--font-weight-black);
      color: inherit;
    }
  
    & h2 {
      color: var(--tw-prose-headings);
      font-weight: var(--font-weight-bold);
      font-size: 1.5em;
      margin-top: 2em;
      margin-bottom: 1em;
      line-height: 1.3333333;
    }
  
    & h2 strong {
      font-weight: var(--font-weight-extrabold);
      color: inherit;
    }
  
    & h3 {
      color: var(--tw-prose-headings);
      font-weight: var(--font-weight-semibold);
      font-size: 1.25em;
      margin-top: 1.6em;
      margin-bottom: 0.6em;
      line-height: 1.6;
    }
  
    & h3 strong {
      font-weight: var(--font-weight-bold);
      color: inherit;
    }
  
    & h4 {
      color: var(--tw-prose-headings);
      font-weight: var(--font-weight-semibold);
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      line-height: var(--leading-normal);
    }
  
    & h4 strong {
      font-weight: var(--font-weight-bold);
      color: inherit;
    }
  
    & img {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  
    & picture {
      display: block;
      margin-top: 2em;
      margin-bottom: 2em;
    }
  
    & video {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  
    & kbd {
      font-weight: var(--font-weight-medium);
      font-family: inherit;
      color: var(--tw-prose-kbd);
      box-shadow:
        0 0 0 1px oklch(from var(--tw-prose-kbd-shadows) l c h / 10%),
        0 3px 0 oklch(from var(--tw-prose-kbd-shadows) l c h / 10%);
      font-size: 0.875em;
      border-radius: 0.3125rem;
      padding-top: 0.1875em;
      padding-inline-end: 0.375em;
      padding-bottom: 0.1875em;
      padding-inline-start: 0.375em;
    }
  
    & code {
      color: var(--tw-prose-code);
      font-weight: var(--font-weight-normal);
      font-size: 0.875em;
    }
  
    & code::before {
      content: '`';
    }
  
    & code::after {
      content: '`';
    }
  
    & a code {
      color: inherit;
    }
  
    & h1 code {
      color: inherit;
    }
  
    & h2 code {
      color: inherit;
      font-size: 0.875em;
    }
  
    & h3 code {
      color: inherit;
      font-size: 0.9em;
    }
  
    & h4 code {
      color: inherit;
    }
  
    & blockquote code {
      color: inherit;
    }
  
    & thead th code {
      color: inherit;
    }
  
    & pre {
      color: var(--tw-prose-pre-code);
      background-color: var(--tw-prose-pre-bg);
      overflow-x: auto;
      font-weight: var(--font-weight-normal);
      font-size: 0.875em;
      line-height: 1.7142857;
      margin-top: 1.7142857em;
      margin-bottom: 1.7142857em;
      border-radius: var(--radius-md);
      padding-top: 0.8571429em;
      padding-inline-end: 1.1428571em;
      padding-bottom: 0.8571429em;
      padding-inline-start: 1.1428571em;
    }

    & pre:has(code){
      color: var(--tw-prose-pre-code);
      background-color: var(--tw-prose-pre-bg);
    }
  
    & pre code {
      border-width: 0;
      border-radius: 0;
      padding: 0;
      font-weight: inherit;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
    }
  
    & pre code::before {
      content: none;
    }
  
    & pre code::after {
      content: none;
    }
  
    & table {
      width: 100%;
      table-layout: auto;
      margin-top: 2em;
      margin-bottom: 2em;
      font-size: 0.875em;
      line-height: 1.7142857;
    }
  
    & thead {
      border-bottom-width: 1px;
      border-bottom-color: var(--tw-prose-th-borders);
    }
  
    & thead th {
      color: var(--tw-prose-headings);
      font-weight: var(--font-weight-semibold);
      vertical-align: bottom;
      padding-inline-end: 0.5714286em;
      padding-bottom: 0.5714286em;
      padding-inline-start: 0.5714286em;
    }
  
    & tbody tr {
      border-bottom-width: 1px;
      border-bottom-color: var(--tw-prose-td-borders);
    }
  
    & tbody tr:last-child {
      border-bottom-width: 0;
    }
  
    & tbody td {
      vertical-align: baseline;
    }
  
    & tfoot {
      border-top-width: 1px;
      border-top-color: var(--tw-prose-th-borders);
    }
  
    & tfoot td {
      vertical-align: top;
    }
  
    & th, & td {
      text-align: start;
    }
  
    & figure > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    & figcaption {
      color: var(--tw-prose-captions);
      font-size: 0.875em;
      line-height: 1.4285714;
      margin-top: 0.8571429em;
    }
  
    & picture > img {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    & li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  
    & ol > li {
      padding-inline-start: 0.375em;
    }
  
    & ul > li {
      padding-inline-start: 0.375em;
    }
  
    & > ul > li p {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }
  
    & > ul > li > p:first-child {
      margin-top: 1.25em;
    }
  
    & > ul > li > p:last-child {
      margin-bottom: 1.25em;
    }
  
    & > ol > li > p:first-child {
      margin-top: 1.25em;
    }
  
    & > ol > li > p:last-child {
      margin-bottom: 1.25em;
    }
  
    & ul ul, & ul ol, & ol ul, & ol ol {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }
  
    & dl {
      margin-top: 1.25em;
      margin-bottom: 1.25em;
    }
  
    & dd {
      margin-top: 0.5em;
      padding-inline-start: 1.625em;
    }
  
    & hr + * {
      margin-top: 0;
    }
  
    & h2 + * {
      margin-top: 0;
    }
  
    & h3 + * {
      margin-top: 0;
    }
  
    & h4 + * {
      margin-top: 0;
    }
  
    & thead th:first-child {
      padding-inline-start: 0;
    }
  
    & thead th:last-child {
      padding-inline-end: 0;
    }
  
    & tbody td, & tfoot td {
      padding-top: 0.5714286em;
      padding-inline-end: 0.5714286em;
      padding-bottom: 0.5714286em;
      padding-inline-start: 0.5714286em;
    }
  
    & tbody td:first-child, & tfoot td:first-child {
      padding-inline-start: 0;
    }
  
    & tbody td:last-child, & tfoot td:last-child {
      padding-inline-end: 0;
    }
  
    & figure {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  
    & > :first-child {
      margin-top: 0;
    }
  
    & > :last-child {
      margin-bottom: 0;
    }
  }

   @utility prose-sm {
    font-size: var(--text-sm);
    line-height: 1.71429;

    &.prose {
      font-size: var(--text-sm);
      line-height: 1.71429;
    }
  
    & p,
    &.prose p {
      margin-top: 1.1428571em;
      margin-bottom: 1.1428571em;
    }
  
    & [class~='lead'],
    &.prose [class~='lead'] {
      font-size: 1.2857143em;
      line-height: 1.5555556;
      margin-top: 0.8888889em;
      margin-bottom: 0.8888889em;
    }
  
    & blockquote,
    &.prose blockquote {
      margin-top: 1.3333333em;
      margin-bottom: 1.3333333em;
      padding-inline-start: 1.1111111em;
    }
  
    & h1,
    &.prose h1 {
      font-size: 2.1428571em;
      margin-top: 0;
      margin-bottom: 0.8em;
      line-height: 1.2;
    }
  
    & h2,
    &.prose h2 {
      font-size: 1.4285714em;
      margin-top: 1.6em;
      margin-bottom: 0.8em;
      line-height: 1.4;
    }
  
    & h3,
    &.prose h3 {
      font-size: 1.2857143em;
      margin-top: 1.5555556em;
      margin-bottom: 0.4444444em;
      line-height: 1.5555556;
    }
  
    & h4,
    &.prose h4 {
      margin-top: 1.4285714em;
      margin-bottom: 0.5714286em;
      line-height: 1.4285714;
    }
  
    & img,
    &.prose img {
      margin-top: 1.7142857em;
      margin-bottom: 1.7142857em;
    }
  
    & picture,
    &.prose picture {
      margin-top: 1.7142857em;
      margin-bottom: 1.7142857em;
    }
  
    & picture > img,
    &.prose picture > img {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    & video,
    &.prose video {
      margin-top: 1.7142857em;
      margin-bottom: 1.7142857em;
    }
  
    & kbd,
    &.prose kbd {
      font-size: 0.8571429em;
      border-radius: 0.3125rem;
      padding-top: 0.1428571em;
      padding-inline-end: 0.3571429em;
      padding-bottom: 0.1428571em;
      padding-inline-start: 0.3571429em;
    }
  
    & code,
    &.prose code {
      font-size: 0.8571429em;
    }
  
    & h2 code,
    &.prose h2 code {
      font-size: 0.9em;
    }
  
    & h3 code,
    &.prose h3 code {
      font-size: 0.8888889em;
    }
  
    & pre,
    &.prose pre {
      font-size: 0.8571429em;
      line-height: 1.6666667;
      margin-top: 1.6666667em;
      margin-bottom: 1.6666667em;
      border-radius: var(--radius-sm);
      padding-top: 0.6666667em;
      padding-inline-end: 1em;
      padding-bottom: 0.6666667em;
      padding-inline-start: 1em;
    }
  
    & ol,
    &.prose ol {
      margin-top: 1.1428571em;
      margin-bottom: 1.1428571em;
      padding-inline-start: 1.5714286em;
    }
  
    & ul,
    &.prose ul {
      margin-top: 1.1428571em;
      margin-bottom: 1.1428571em;
      padding-inline-start: 1.5714286em;
    }
  
    & li,
    &.prose li {
      margin-top: 0.2857143em;
      margin-bottom: 0.2857143em;
    }
  
    & ol > li,
    &.prose ol > li {
      padding-inline-start: 0.4285714em;
    }
  
    & ul > li,
    &.prose ul > li {
      padding-inline-start: 0.4285714em;
    }
  
    & > ul > li p,
    &.prose > ul > li p {
      margin-top: 0.5714286em;
      margin-bottom: 0.5714286em;
    }
  
    & > ul > li > p:first-child,
    &.prose > ul > li > p:first-child {
      margin-top: 1.1428571em;
    }
  
    & > ul > li > p:last-child,
    &.prose > ul > li > p:last-child {
      margin-bottom: 1.1428571em;
    }
  
    & > ol > li > p:first-child,
    &.prose > ol > li > p:first-child {
      margin-top: 1.1428571em;
    }
  
    & > ol > li > p:last-child,
    &.prose > ol > li > p:last-child {
      margin-bottom: 1.1428571em;
    }
  
    & ul ul,
    & ul ol,
    & ol ul,
    & ol ol,
    &.prose ul ul,
    &.prose ul ol,
    &.prose ol ul,
    &.prose ol ol {
      margin-top: 0.5714286em;
      margin-bottom: 0.5714286em;
    }
  
    & dl,
    &.prose dl {
      margin-top: 1.1428571em;
      margin-bottom: 1.1428571em;
    }
  
    & dt,
    &.prose dt {
      margin-top: 1.1428571em;
    }
  
    & dd,
    &.prose dd {
      margin-top: 0.2857143em;
      padding-inline-start: 1.5714286em;
    }
  
    & hr,
    &.prose hr {
      margin-top: 2.8571429em;
      margin-bottom: 2.8571429em;
    }
  
    & hr + *,
    &.prose hr + * {
      margin-top: 0;
    }
  
    & h2 + *,
    &.prose h2 + * {
      margin-top: 0;
    }
  
    & h3 + *,
    &.prose h3 + * {
      margin-top: 0;
    }
  
    & h4 + *,
    &.prose h4 + * {
      margin-top: 0;
    }
  
    & table,
    &.prose table {
      font-size: 0.8571429em;
      line-height: var(--leading-normal);
    }
  
    & thead th,
    &.prose thead th {
      padding-inline-end: 1em;
      padding-bottom: 0.6666667em;
      padding-inline-start: 1em;
    }
  
    & thead th:first-child,
    &.prose thead th:first-child {
      padding-inline-start: 0;
    }
  
    & thead th:last-child,
    &.prose thead th:last-child {
      padding-inline-end: 0;
    }
  
    & tbody td,
    & tfoot td,
    &.prose tbody td,
    &.prose tfoot td {
      padding-top: 0.6666667em;
      padding-inline-end: 1em;
      padding-bottom: 0.6666667em;
      padding-inline-start: 1em;
    }
  
    & tbody td:first-child,
    & tfoot td:first-child,
    &.prose tbody td:first-child,
    &.prose tfoot td:first-child {
      padding-inline-start: 0;
    }
  
    & tbody td:last-child,
    & tfoot td:last-child,
    &.prose tbody td:last-child,
    &.prose tfoot td:last-child {
      padding-inline-end: 0;
    }
  
    & figure,
    &.prose figure {
      margin-top: 1.7142857em;
      margin-bottom: 1.7142857em;
    }
  
    & figure > *,
    &.prose figure > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    & figcaption,
    &.prose figcaption {
      font-size: 0.8571429em;
      line-height: 1.3333333;
      margin-top: 0.6666667em;
    }
  
    & > :first-child,
    &.prose > :first-child {
      margin-top: 0;
    }
  
    & > :last-child,
    &.prose > :last-child {
      margin-bottom: 0;
    }
  }


  /* Invert (for dark mode) */
  @utility prose-invert {
    --tw-prose-body: var(--tw-prose-invert-body);
    --tw-prose-headings: var(--tw-prose-invert-headings);
    --tw-prose-lead: var(--tw-prose-invert-lead);
    --tw-prose-links: var(--tw-prose-invert-links);
    --tw-prose-bold: var(--tw-prose-invert-bold);
    --tw-prose-counters: var(--tw-prose-invert-counters);
    --tw-prose-bullets: var(--tw-prose-invert-bullets);
    --tw-prose-hr: var(--tw-prose-invert-hr);
    --tw-prose-quotes: var(--tw-prose-invert-quotes);
    --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
    --tw-prose-captions: var(--tw-prose-invert-captions);
    --tw-prose-kbd: var(--tw-prose-invert-kbd);
    --tw-prose-kbd-shadows: var(--tw-prose-invert-kbd-shadows);
    --tw-prose-code: var(--tw-prose-invert-code);
    --tw-prose-pre-code: var(--tw-prose-invert-pre-code);
    --tw-prose-pre-bg: var(--tw-prose-invert-pre-bg);
    --tw-prose-th-borders: var(--tw-prose-invert-th-borders);
    --tw-prose-td-borders: var(--tw-prose-invert-td-borders);
  }