{% extends "./page.html" %}

{% block title %}{{ __("GLOSSARY") }} | {{ title }}{% endblock %}

{% block page %}
    <h1 class="book-chapter book-chapter-1">{{ __("GLOSSARY") }}</h1>
    <div class="section glossary">
        <h1>{{ __("GLOSSARY") }}</h1>

        {% for item in glossary %}
        <div class="glossary-entry" id="{{ item.id }}">
            <h2><a href="#{{ item.id }}">{{ item.name }}</a></h2>
            <p>{{ item.description|safe }}</p>
            <ul class="glossary-index">
            {% for file in item.files %}
                <li><a href="{{ basePath }}/{{ file.path|contentLink }}"><span class="level">{{ file.level }}.</span> {{ file.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}
