{% extends "./layout.html" %}

{% block title %}{{ progress.current.title }} | {{ title }}{% endblock %}

{% block style %}
    {% if not styles.print %}
    <link rel="stylesheet" href="{{ staticBase }}/print.css">
    {% endif %}
    {% for resource in plugins.resources.css %}
        {% if resource.url %}
        <link rel="stylesheet" href="{{ resource.url }}">
        {% else %}
        <link rel="stylesheet" href="{{ staticBase }}/plugins/{{ resource.path }}">
        {% endif %}
    {% endfor %}
    {% for type, style in styles %}
        <link rel="stylesheet" href="{{ basePath }}/{{ style }}">
    {% endfor %}
{% endblock %}

{% block content %}
<div class="page">
    <h1 class="book-chapter book-chapter-{{ progress.current.level|lvl }}">{{ progress.current.title }}</h1>
    {% for section in content %}
        <div class="{{ section.type }}" id="section-{{ section.id }}">
        {% if section.type == "normal" %}
            {% autoescape false %}{{ section.content }}{% endautoescape %}
        {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}

