{% extends "./page.html" %}

{% block title %}{{ __("SUMMARY") }} | {{ title }}{% endblock %}

{% macro articles(_articles) %}
    {% for item in _articles %}
        <li>
            <span class="inner">
                {% if item.path and item.exists %}
                    {% if not item.external %}
                        <a href="{{ basePath }}/{{ item.path|contentLink }}">{{ item.title }}</a>
                    {% else %}
                        <a target="_blank" href="{{ item.path }}">{{ item.title }}</a>
                    {% endif %}
                {% else %}
                    <span>{{ item.title }}</span>
                {% endif %}
                {% if options.generator != "mobi" %}
                <span class="page">{{ item.level }}</span>
                {% endif %}
            </span>
            {% if item.articles.length > 0 %}
            <ol>
                {{ articles(item.articles) }}
            </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% block page %}
<div class="section toc">
    <h1>{{ __("SUMMARY") }}</h1>
    <ol>
        {{ articles(summary.chapters) }}

        {% if glossary.length > 0 %}
        <li>
            <span class="inner">
                <a href="{{ basePath }}/GLOSSARY.html">{{ __("GLOSSARY") }}</a>
            </span>
        </li>
        {% endif %}
    </ol>
</div>
{% endblock %}

