.pageLinkItem {
    @apply flex
                    justify-start
                    items-center
                    gap-3
                    p-1.5
                    pl-3
                    text-sm
                    transition-colors
                    duration-100
                    text-tint-strong/7
                    rounded-md
                    straight-corners:rounded-none
                    circular-corners:rounded-xl
                    before:content-none
                    font-normal
                    hover:bg-tint
                    hover:text-tint-strong;
}
