<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %} | GitBook{% endblock %}</title>
        <meta name="robots" content="{% block robots %}noindex, nofollow{% endblock %}">
        <link rel="icon" href="{{ staticBase }}/images/icons/32.png">
        <link rel="stylesheet" href="{{ staticBase }}/style.css">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}" >
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-javascript.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>