<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %} | GitBook{% endblock %}</title>
        {% if config.debug %}
        <meta name="robots" content="noindex, nofollow">
        {% else %}
        <meta name="robots" content="{% block robots %}noindex, nofollow{% endblock %}">
        {% endif %}
        <link rel="icon" href="{{ staticBase }}/images/icons/32.png">
        <link rel="stylesheet" href="{{ staticBase }}/style.css">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}" >
        <meta name="og:title" content="{% block title %} | GitBook{% endblock %}">
        <meta name="og:locale" content="en_US">
        <meta name="og:site_name" content="GitBook">
        <meta name="og:url" content="{{ config.web.url }}">
        <meta name="og:description" content="{% block description %}{% endblock %}">
        <meta name="og:image" content="{{ staticBase }}/images/icons/ios.png" >
        <meta name="application-name" content="Gitbook">
        <meta name="application-url" content="{{ config.web.url }}">
        <meta name="msapplication-tooltip" content="{% block description %}{% endblock %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-starturl" content="{{ config.web.url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>