{% extends "layout.html" %}

{% block title %}{{ _input }} {{ title }}{% parent %}{% endblock %}
{% block description %}{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block content %}
<div class="book {% if _input == "README.md" %}with-summary{% endif %}">
    {% include "includes/book/header.html" %}
    {% include "includes/book/summary.html" %}

    <div class="book-body">
        <div class="page-wrapper">
            <div class="page-inner">
            {% for section in content %}
                <section class="{{ section.type }}" id="section-{{ section.id }}">
                {% if section.type == "normal" %}
                    {% autoescape false %}{{ section.content }}{% endautoescape %}
                {% elif section.type == "exercise" %}
                    {% include "./includes/book/exercise.html" with {section: section} %}
                {% endif %}
                </section>
            {% endfor %}
            </div>

            <div class="page-footer">
                <div class="navigation">
                {% if _input == "README.md" %}
                    <a href="{{ navigation.next.path }}" class="navigation-link">Start this book</a>
                {% else %}
                    {% if navigation.prev %}
                        <a href="{{ navigation.prev.path }}" class="navigation-link"><i class="fa fa-chevron-left"></i> {{ navigation.prev.title }}</a>
                    {% endif %}
                    {% if navigation.next %}
                    <a href="{{ navigation.next.path }}" class="navigation-link">{{ navigation.next.title }} <i class="fa fa-chevron-right"></i></a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $("section.exercise").each(function() {
        var $exercise = $(this);

        var codeSolution = $exercise.find(".code-solution").html();
        var codeValidation = $exercise.find(".code-validation").html();

        var editor = ace.edit($exercise.find(".editor").get(0));
        editor.setTheme("ace/theme/tomorrow");
        editor.getSession().setMode("ace/mode/javascript");

        $exercise.find(".action-submit").click(function(e) {
            e.preventDefault();

            alert("submit");
        });
        $exercise.find(".action-solution").click(function(e) {
            e.preventDefault();

            editor.setValue(codeSolution);
        });
    })
});
</script>
{% endblock %}