{% extends "layout.html" %}

{% block title %}{{ _input }} {{ title }}{% parent %}{% endblock %}
{% block description %}{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block content %}
<div class="book {% if _input == "README.md" %}with-summary{% endif %}" data-github="{{ githubId }}" data-level="{{ navigation.level }}">
    {% include "includes/book/header.html" %}
    {% include "includes/book/summary.html" %}
    <div class="book-body">
        <div class="page-wrapper">
            <div class="book-progress">
                <div class="bar">
                    <div class="inner" style="width: {{ progress.percent }}%;min-width: {{ progress.prevPercent }}%;"></div>
                </div>
                <div class="chapters">
                {% for p in progress.chapters %}
                    <div class="chapter {% if p.done %}done{% endif %}" data-progress="{{ p.level }}" style="left: {{ p.percent }}%;"></div>
                {% endfor %}
                </div>
            </div>

            <div class="page-inner">
            {% for section in content %}
                <section class="{{ section.type }}" id="section-{{ section.id }}">
                {% if section.type == "normal" %}
                    {% autoescape false %}{{ section.content }}{% endautoescape %}
                {% elif section.type == "exercise" %}
                    {% include "./includes/book/exercise.html" with {section: section} %}
                {% endif %}
                </section>
            {% endfor %}
            </div>

            <div class="page-footer">
                <div class="navigation">
                {% if _input == "README.md" %}
                    <a href="{{ basePath }}/{{ navigation.next.path }}" class="navigation-link">Start this book</a>
                {% else %}
                    {% if navigation.prev %}
                        <a href="{{ basePath }}/{{ navigation.prev.path }}" class="navigation-link prev"><i class="fa fa-chevron-left"></i> <span>{{ navigation.prev.title }}</span></a>
                    {% endif %}
                    {% if navigation.next %}
                    <a href="{{ basePath }}/{{ navigation.next.path }}" class="navigation-link next"><span>{{ navigation.next.title }}</span> <i class="fa fa-chevron-right"></i></a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}