/* Detect whether a scrollbar exists on the table */
@keyframes detect-scroll {
    from,
    to {
        --can-scroll: ;
    }
}

/* Apply styles to the Table if scrollbar exists */
.tableWrapper {
    animation: detect-scroll linear;
    animation-timeline: scroll(self x);

    --border-radius-if-can-scroll: var(--can-scroll) 0.375rem;
    --border-radius-if-cant-scroll: 0;
    border-radius: var(--border-radius-if-can-scroll, var(--border-radius-if-cant-scroll));

    --border-width-if-can-scroll: var(--can-scroll) 1px;
    --border-width-if-cant-scroll: 0;
    border-width: var(--border-width-if-can-scroll, var(--border-width-if-cant-scroll));

    @apply relative grid w-full overflow-x-auto overflow-y-hidden mx-auto border-dark/3;
}

:global(.dark) .tableWrapper {
    @apply border-tint-50;
}

.columnHeader {
    @apply text-sm font-medium py-3 px-4 text-tint-900;
}

:global(.dark) .columnHeader {
    @apply text-white;
}

.row {
    @apply flex border-tint-700/2;
}

:global(.dark) .row {
    @apply border-tint-300/3;
}

.rowGroup {
    @apply flex flex-col border rounded-lg bg-tint-800/1 border-tint-700/2;
}

:global(.dark) .rowGroup {
    @apply bg-tint-300/2 border-tint-300/3;
}

.cell {
    @apply flex-1 align-middle border-dark/2 py-2 px-4 text-sm;
}

:global(.dark) .cell {
    @apply border-light/2;
}
