@reference "../../RootLayout/globals.css";

/* Detect whether a scrollbar exists on the table */
@keyframes detect-scroll {
    from,
    to {
        --can-scroll: ;
    }
}

/* Apply styles to the Table if scrollbar exists */
.tableWrapper {
    animation: detect-scroll linear;
    animation-timeline: scroll(self x);

    --border-radius-if-can-scroll: var(--can-scroll) 0.375rem;
    --border-radius-if-cant-scroll: 0;
    border-radius: var(--border-radius-if-can-scroll, var(--border-radius-if-cant-scroll));

    --border-width-if-can-scroll: var(--can-scroll) 1px;
    --border-width-if-cant-scroll: 0;
    border-width: var(--border-width-if-can-scroll, var(--border-width-if-cant-scroll));

    @apply relative grid w-full overflow-x-auto overflow-y-hidden mx-auto border-tint-subtle;
}

.columnHeader {
    @apply text-sm font-medium py-2 px-3 text-tint-strong;
}

.row {
    @apply flex border-tint-subtle hover:bg-tint-hover transition-colors;
}

.rowGroup {
    @apply flex flex-col border rounded-lg bg-tint border-tint-subtle mb-1;
}

.cell {
    @apply flex-1 flex align-middle border-tint-subtle py-2 px-3 text-sm relative;
}

.cell:not(:last-child) {
    @apply border-r;
}
