.Sidebar-Flex {
    .flex(0 0 @sidebar-width);

    &.Layout-enter {
        margin-left: -@sidebar-width;

        &.Layout-enter-active {
            margin-left: 0;
            transition: margin-left 250ms ease-in-out;
        }
    }

    &.Layout-leave {
        margin-left: 0;

        &.Layout-leave-active {
            margin-left: -@sidebar-width;
            transition: margin-left 250ms ease-in-out;
        }
    }
}

.Sidebar {
    height: 100%;
    background: @sidebar-background;
    background: rgb(250, 250, 250);
    border-right: 1px solid @sidebar-border-color;
    overflow-y: auto;
}

.GitBookTrademark {
    text-align: center;
    text-decoration: none;
    opacity: 0.1;
    margin-top: 80px;
    margin-bottom: 40px;
    color: #000;
    display: block;

    &:hover {
        text-decoration: none;
        opacity: 0.2;
    }

    span {
        display: block;
    }

    img {
        max-width: 64px;
        filter: grayscale(100%);
        margin-top: 10px;
    }
}
