html:has(.zoomModal) {
    overflow: hidden;
}

.zoomImg {
    cursor: zoom-in;
}

.zoomImageActive {
    view-transition-name: zoom-image;
}

.zoomModal {
    display: flex;
    position: fixed;
    inset: 0px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    @apply bg-dark/4 backdrop-blur-2xl opacity-[1] dark:bg-dark/8 p-8;
}

.zoomModal img {
    view-transition-name: zoom-image;
    cursor: zoom-out;
}
