name: CI
on:
    pull_request:
    push:
        branches:
            - main
            - changeset-release/main
jobs:
    format:
        runs-on: ubuntu-latest
        name: Format
        timeout-minutes: 6
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Bun
              uses: ./.github/composite/setup-bun
            - name: Install dependencies
              run: bun install --frozen-lockfile
              env:
                  PUPPETEER_SKIP_DOWNLOAD: 1
            - run: bun format:check
    test:
        runs-on: ubuntu-latest
        name: Test
        timeout-minutes: 6
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Bun
              uses: ./.github/composite/setup-bun
            - name: Install dependencies
              run: bun install --frozen-lockfile
              env:
                  PUPPETEER_SKIP_DOWNLOAD: 1
            - run: bun unit
    build:
        runs-on: ubuntu-latest
        name: Build
        timeout-minutes: 6
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Bun
              uses: ./.github/composite/setup-bun
            - name: Install dependencies
              run: bun install
              env:
                  PUPPETEER_SKIP_DOWNLOAD: 1
            - run: bun run build
    typecheck:
        runs-on: ubuntu-latest
        name: Typecheck
        timeout-minutes: 6
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Bun
              uses: ./.github/composite/setup-bun
            - name: Install dependencies
              run: bun install --frozen-lockfile
              env:
                  PUPPETEER_SKIP_DOWNLOAD: 1
            - run: bun typecheck
