name: Publish

on:
    push:
        branches:
            - main
            - test-publish-3

env:
    BUN_NPM_TOKEN: ${{ secrets.NPM_TOKEN_READONLY }}
    
concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            pull-requests: write
            contents: write
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v3
              with:
                  # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
                  fetch-depth: 0
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                #   registry-url: 'https://registry.npmjs.org'
            - name: Setup Bun
              uses: ./.github/composite/setup-bun
            - name: Install dependencies
              run: bun install --frozen-lockfile
              env:
                  PUPPETEER_SKIP_DOWNLOAD: 1
            - name: Create Release Pull Request
              id: changesets
              uses: changesets/action@v1
              with:
                  version: bun run changeset-version
              env:
                  # Using a PAT instead of GITHUB_TOKEN because we need to run workflows when releases are created
                  # https://github.com/orgs/community/discussions/26875#discussioncomment-3253761
                  GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_TOKEN }}

            # We use a dedicated step to publish to npm because it needs the top level GITHUB_TOKEN and not the GH_PERSONAL_TOKEN one
            - name: Publish to NPM
              if: steps.changesets.outputs.hasChangesets == 'false'
              run: cd packages/expr && npm run publish-to-npm
