@import "mixins.less";

@import "ebook/variables.less";

body {
    font-family: sans-serif;
}

.pdf-footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color:#aaa;

    .footer-pages-count {
        float:right;
    }
}

.pdf-header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #aaa;
}


.page {
    .markdown-content(#000, 1.6);

    pre, code, blockquote, tr, img, table, figure {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }

    // Section and first titles
    .section {
        > h1, > h2, > h3 {
            margin-top: 0px;
        }
    }

    // Hide the title (only used to build PDF table of content)
    .book-chapter {
        display: none;
    }

    // First page: table of contents
    &.page-toc {
        h1 {
            text-align: center;
        }

        > ol {
            margin: 0px;
            padding: 0px;
        }

        li {
            list-style: none;

            .inner {
                display: block;
                border-bottom: 1px dotted #eee;
                margin-bottom: 4px;

                a, span {
                    padding-right: 5px;
                    display: inline-block;
                    border-bottom: 1px solid #fff;
                    margin-bottom: -1px;
                }

                span.page {
                    float: right;
                    padding-left: 5px;
                }
            }

            ol {
                margin: 0px;
                padding: 0px;
                padding-left: 2em;
            }
        }
    }

    // Glossary page
    &.page-glossary {
        .glossary {
            margin-bottom: 40px;

            h2 {
                a, a:hover {
                    color: inherit;
                    text-decoration: none;
                }
            }

            .glossary-index {
                list-style: none;
                margin: 0px;
                padding: 0px;

                li {
                    display: inline;
                    margin: 0px 8px;
                    white-space: nowrap;
                }
            }
        }
    }
}

// For LTR, fix direction of table of content
body.dir-rtl {
    .page.page-toc {
        li {
            .inner {
                .page {
                    float: left;
                }
            }

            ol {
                margin: 0px;
                padding: 0px;
                padding-right: 2em;
            }
        }
    }
}
