@import "./ebook/base.less";

.pdf-footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color:#aaa;

    .footer-pages-count {
        float: right;
    }
}

.pdf-header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #aaa;
}

