@import "vendors/bootstrap/bootstrap.less";
@import "vendors/fontawesome/font-awesome.less";

@import "mixins.less";

@import "website/fonts.less";
@import "website/variables.less";
@import "website/languages.less";
@import "website/header.less";
@import "website/summary.less";
@import "website/font-settings.less";
@import "website/body.less";
@import "website/exercise.less";
@import "website/quiz.less";
@import "website/markdown.less";
@import "website/progress.less";
@import "website/navigation.less";

* {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

body {
    text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	font-family: @font-family-base;
}
